/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope-v15-latin-regular.woff2') format('woff2'),
         url('/assets/fonts/manrope-v15-latin-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope-v15-latin-700.woff2') format('woff2'),
         url('/assets/fonts/manrope-v15-latin-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

/* max screen width */

$maxScreenWidth: 1920px;

/* projekt colors*/

$white: white;
$background: #eceefe;
$light_purple: #adb0d9;
$black: #000000;
$text_grey: #686868;
$bar_grey: #d9d9d9;
$purple2: #797ef3;
$purple3: #535af1;
$purple1: #444df2;
$online_green: #92c83e;
$rosa_error: #ed1e79;


$primary-color1: #212121;
$primary-color2: #3D3D3D;
$primary-color3: #F1F7FA;
$secondary-color1: #0998C3;
$secondary-color2: #6BDBFD;
$secondary-color3: #DBF5FD;

$neutral-color1: #FFFFFF;
$neutral-color1: #262626;
$neutral-color1: #EEEEEE;
$neutral-color1: #FAFAFA;



* {
    font-family: "Manrope";
}

body {
    margin: 0;
    background-color: #FAFAFA;
}

@mixin dFlex($jc: center, $ai: center, $g: 0px, $fd: row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: $fd;
}

@mixin size($h: auto, $w: 100%) {
    height: $h;
    width: $w;
}

@mixin size40($h: 40px, $w: 40px) {
    height: $h;
    width: $w;
}

@mixin size50($h: 50px, $w: 50px) {
    height: $h;
    width: $w;
}

@mixin marginIndividual($l: 0, $t: 0, $r: 0, $b: 0) {
    margin-top: $t;
    margin-bottom: $b;
    margin-left: $l;
    margin-right: $r;
}

@mixin paddingIndividual($l: 0, $t: 0, $r: 0, $b: 0) {
    padding-top: $t;
    padding-bottom: $b;
    padding-left: $l;
    padding-right: $r;
}

@mixin btnMobile() {
    height: 49px;
    border-radius: 25px;
    padding-block: 0;
    padding-inline: 25px;
    border-width: 0;
}

html,
body {
    height: 100%;
    // background-color: $background;
}

app-root {
    display: block;
    height: 100%;
    overflow: hidden;
}

.toast {
    position: fixed;
    right: 20px;
    bottom: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: fit-content;
    border: 1px solid $purple1;
    border-radius: 30px 30px 0 30px;
    background-color: $purple1;
    color: white;
    z-index: 100;
}


/* width and hight of bar */

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    border-radius: 20px;
}


/* color of scrollbar */

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 50px;
}


/* color of bar while scroll */

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(121, 126, 243);
}


/* color of bar behind */

::-webkit-scrollbar-track {
    background-color: rgb(236, 238, 254);
}

.tooltiptext {
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 1;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: $white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}