<div class="footer">
    <a routerLink="/dashboard" routerLinkActive="active" class="menu-icon">
      <img src="assets/icons/Home.svg" alt="Home" />
      <span>Home</span>
    </a>
    <a routerLink="/direct-messages" routerLinkActive="active" class="menu-icon">
      <img src="assets/icons/Chat.svg" alt="Chat" />
      <span>Chat</span>
    </a>
    <a routerLink="/channel-list" routerLinkActive="active" class="menu-icon">
      <img src="assets/icons/Home.svg" alt="Home" />
      <span>Channel</span>
    </a>
    <a routerLink="/board" routerLinkActive="active" class="menu-icon">
      <img src="assets/icons/Home.svg" alt="Home" />
      <span>Board</span>
    </a>
    <a routerLink="/account" routerLinkActive="active" class="menu-icon">
      <img src="assets/icons/Home.svg" alt="Home" />
      <span>Account</span>
    </a>
</div>