/* auth-layout.component.scss */
.auth-layout {
    min-height: 100vh;           /* Füllt den gesamten Viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;   /* Hintergrundfarbe, anpassbar */
  }
  