<div class="all-messages">
  <ng-container *ngIf="messages && messages.length > 0; else noMessages">
    <ng-container *ngFor="let msg of messages; trackBy: trackByMsg">
      <ng-container *ngIf="msg.senderId === currentUserId; else otherUser">
        <app-current-user-message [message]="msg"></app-current-user-message>
      </ng-container>
      <ng-template #otherUser>
        <app-other-user-message [message]="msg"></app-other-user-message>
      </ng-template>
    </ng-container>
  </ng-container>

  <ng-template #noMessages>
    <p>No messages available</p>
  </ng-template>
</div>
